#dov{
    display: flex;
    justify-content: center;
    
}
button{
    display: flexbox;
    background-color:rgb(117, 208, 254);
    padding: 5px 10px;
    font-size: 15px;
    border:#64c1ff;
    border-radius: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color:black;
    
}

header {
    background-color:black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

header .logo h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.produtos {
    text-align: center;
    margin: 40px 0;
}

.produtos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.produtos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.produto {
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.produto p {
    font-size: 1rem;
    color: #e74c3c;
}

.produto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.produto a:hover {
    background-color: #2980b9;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
